name: cpu-test

on: 
  pull_request:
  push:
    branches: master

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install -e .
        pip install pytest
    - name: Test with pytest
      run: |
        pytest
